<div class="container" style="background-color: white;">
  <app-header-register-edit [muestra]="false"> </app-header-register-edit>
  <!-- <hr> -->
  <p>Thanks for filling out our Secure Booking Information with your data. Please be aware that we need to share this information with third parties (including airlines, hotels, cruises). If you have any comment or question, feel free to contact your trip advisor.</p>
  <p>Sincerely</p>
  <p><a href="{{urlCompania}}">{{sitioCompania}}</a></p>
</div>
<app-footer-register-edit> </app-footer-register-edit>
