<mat-dialog-content>
  <p align="justify">The company employs HTTPS primary protocol to increase the security of data transferring between the web browser and the website.  Which is particularly important when sensitive data is transmitted, such as credit card information, email services, or personal information.</p>
  <p align="center"><img src="./assets/images/https.jpg" width="200" height="133"></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
