<img src="./assets/images/{{logoCompany}}" width="179" height="50" alt="" />
<h1
  style="display: block; font-size: 2em; margin-block-start: 0.67em; margin-block-end: 0.67em; margin-inline-start: 0px; margin-inline-end: 0px; font-weight: bold;">
  <img src="./assets/images/shield-high.gif" width="70" height="70" alt=""> Secure Booking Information</h1>

<!--<div *ngIf="muestra" class="countdown">
  <img src="./assets/images/clock.png" width="20" height="20" alt=""/> This form expires in: <span id="demo"></span>
</div>-->